* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Gilroy-Light;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #f8f8f8;
}

@font-face {
  font-family: "Gilroy-Light";
  src: url(font/Gilroy-Light.ttf);
}

@font-face {
  font-family: "MonumentExtended-Regular";
  src: url(font/MonumentExtended-Regular.otf);
}

main {
  height: 100%;
  width: 100%;
  position: relative;
  padding-top: 0.1px; /* Fix for sticky header css bug */
}

/* to hide scrollbar */
body::-webkit-scrollbar {
  display: none;
}

nav {
  height: 12vh;
  width: 100%;
  /* background-color: red; */
  margin-top: 35px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  /* background-color: rebeccapurple; */
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: MonumentExtended-Regular;
  font-size: 35px;
  letter-spacing: -2.5px;
}

nav h2 {
  /* background-color: blue; */
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid black;
  font-size: 22px;
  font-weight: 600;
}

nav h2:nth-last-child(1) {
  width: 8%;
  border: none;
}

nav h2:nth-last-child(2) {
  width: 29%;
}

#centre {
  height: 85%;
  width: 100%;
  /* background-color: rebeccapurple; */
  padding: 3vw;
  position: relative;
}

#content {
  height: 100%;
  width: 100%;
  /* background-color: blue; */
  position: relative;
}

#content video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#overlay {
  height: 50%;
  width: 100%;
  position: absolute;
  bottom: 0;
  /* background-color: red; */
  padding: 1vw 4.5vw;
  color: white;
}

#overlay1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2vw;
}

#overlay1 h1 {
  font-family: MonumentExtended-Regular;
  font-size: 3vw;
  mix-blend-mode: exclusion; /* crazy effect on text */
}

#overlay1 h2 {
  font-size: 1.4vw;
  font-weight: 500;
  padding: 2vw 2.2vw;
  border-radius: 50%;
  /* background-color: aqua; */
  border: 2px solid white;
  /* add bottom right part of border more boldness */
}

#overlay2 {
  display: flex;
  justify-content: space-between;
  /* align-items: end; */
  border-top: 2px solid white;
  /* background-color: blue; */
}

#overlay2 h4 {
  margin-top: 1vw;
  font-size: 1.2vw;
  font-weight: 600;
}

#overlay2 img {
  height: 2vw;
  margin-top: 1vw;
  /* color: white; */
  /* background-color: pink; */
}

#scroll {
  height: 30vh;
  width: 100%;
  /* background-color: blue; */
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
}

#container {
  height: 100%;
  width: 105%;
  /* background-color: blue; */
  display: inline-block;
  animation: marquee 30s linear infinite;
}

#scroll img {
  margin: 0vw 1.8vw;
  height: 80%;
  width: 13%;
  border-radius: 50%;
  object-fit: cover;
  /* display: none; */
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

#alphabets {
  height: 11vh;
  width: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8vw;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-top: 2.3vh;
}

#alphabets h5 {
  font-size: 1.5vw;
  font-style: italic;
  border-bottom: 2.3px solid black;
  letter-spacing: 0.5vw;
  margin-right: 2vw;
}

#alphabets h6 {
  font-size: 1.2vw;
  font-style: italic;
  font-weight: 600;
  /* background-color: yellow; */
  padding: 0.5vw 0.8vw;
  border-radius: 50%;
  text-align: start;
  border: 1px solid rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: all ease 0.3s;
}

#alphabets h6:hover {
  border: 1px solid black;
}

section {
  height: 100vh;
  width: 100%;
  /* background-color: rebeccapurple; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4vw;
  margin-top: 2.5vh;
}

section #left-part {
  height: 90%;
  width: 47%;
  background: url("https://images.pexels.com/photos/982585/pexels-photo-982585.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  background-position: top;
}

section #right-part {
  height: 90%;
  width: 37%;
  /* background-color: blue; */
}

section #right-part #top-part {
  height: 77%;
  background: url("https://images.pexels.com/photos/26755415/pexels-photo-26755415/free-photo-of-man-in-suit.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  background-position: center;
}

section #right-part #bottom-part {
  height: 23%;
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  align-items: top;
  padding-top: 1vw;
  gap: 1vw;
}

section #right-part #bottom-part h5 {
  /* background-color: blue; */
  font-size: 1.2vw;
  font-weight: 600;
}

#vogue-shot-text {
  font-family: MonumentExtended-Regular;
  margin-left: 6vw;
  margin-bottom: 5vh;
}

#vogue-shot {
  height: 90vh;
  width: 100%;
  /* background-color: yellow; */
  padding: 0vw 5.5vw;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 33% 33% 33%;
}

#vogue-shot #part1 {
  /* background-color: red; */
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  /* padding: 5vw; */
  justify-self: center;
  align-self: center;
  position: relative;
}

#vogue-shot #part1 img {
  height: 20vw;
  animation: rotate 30s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#vogue-shot #part2 {
  /* background-color: blue; */
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  display: grid;
  align-items: end;
  justify-items: center;
}

#vogue-shot #part2 h2 {
  font-family: "Lato", sans-serif;
  /* justify-self: end; */
  align-self: self-end;
}

#vogue-shot #part3 {
  grid-row: 1 / 4;
  background: url("https://images.pexels.com/photos/31042958/pexels-photo-31042958/free-photo-of-fashionable-woman-posing-in-stylish-ensemble.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-position: center;
  background-size: cover;
}

#below-vogue-shot {
  margin-top: 10vh;
  margin-bottom: 20vh;
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#below-vogue-shot #model-image {
  height: 100%;
  width: 90%;
  background: url("https://images.pexels.com/photos/31005676/pexels-photo-31005676/free-photo-of-elegant-woman-posing-by-outdoor-fountain.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  background-position: center;
}

#test {
  height: 100vh;
  width: 100vw;
  background-color: red;
}