* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Gilroy-Light;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #f8f8f8;
}

@font-face {
  font-family: "Gilroy-Light";
  src: url(font/Gilroy-Light.ttf);
}

@font-face {
  font-family: "MonumentExtended-Regular";
  src: url(font/MonumentExtended-Regular.otf);
}

main {
  height: 100%;
  width: 100%;
  position: relative;
  padding-top: 0.1px; /* Fix for sticky header css bug */
}

/* to hide scrollbar */
/* body::-webkit-scrollbar {
  display: none;
} */

nav {
  height: 12vh;
  width: 100%;
  /* background-color: red; */
  margin-top: 35px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  /* background-color: rebeccapurple; */
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: MonumentExtended-Regular;
  font-size: 35px;
  letter-spacing: -2.5px;
}

nav h2 {
  /* background-color: blue; */
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid black;
  font-size: 22px;
  font-weight: 600;
}

nav h2:nth-last-child(1) {
  width: 8%;
  border: none;
}

nav h2:nth-last-child(2) {
  width: 29%;
}

#centre {
  height: 85%;
  width: 100%;
  /* background-color: rebeccapurple; */
  padding: 3vw;
  position: relative;
}

#content {
  height: 100%;
  width: 100%;
  /* background-color: blue; */
  position: relative;
}

#content video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#overlay {
  height: 50%;
  width: 100%;
  position: absolute;
  bottom: 0;
  /* background-color: red; */
  padding: 1vw 4.5vw;
  color: white;
}

#overlay1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2vw;
}

#overlay1 h1 {
  font-family: MonumentExtended-Regular;
  font-size: 3vw;
  mix-blend-mode: exclusion; /* crazy effect on text */
}

#overlay1 h2 {
  font-size: 1.4vw;
  font-weight: 500;
  padding: 2vw 2.2vw;
  border-radius: 50%;
  /* background-color: aqua; */
  border: 2px solid white;
  /* add bottom right part of border more boldness */
}

#overlay2 {
  display: flex;
  justify-content: space-between;
  /* align-items: end; */
  border-top: 2px solid white;
  /* background-color: blue; */
}

#overlay2 h4 {
  margin-top: 1vw;
  font-size: 1.2vw;
  font-weight: 600;
}

#overlay2 img {
  height: 2vw;
  margin-top: 1vw;
  /* color: white; */
  /* background-color: pink; */
}

#scroll {
  height: 30vh;
  width: 100%;
  /* background-color: blue; */
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
}

#container {
  height: 100%;
  width: 105%;
  /* background-color: blue; */
  display: inline-block;
  animation: marquee 30s linear infinite;
}

#scroll img {
  margin: 0vw 1.8vw;
  height: 80%;
  width: 13%;
  border-radius: 50%;
  object-fit: cover;
  /* display: none; */
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

#alphabets {
  height: 10vh;
  width: 100%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

#alphabets h5 {
  font-size: 1.6vw;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 0.3vw;
  border-bottom: 2px solid black;
}

#alphabets h6 {
  font-size: 1vw;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 0.3vw;
  padding: 0.55vw; /* Adjust padding to make it a perfect circle */
  background-color: yellow;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.6vw; /* Explicitly set width */
  height: 2.6vw; /* Explicitly set height */
}
